/* reset default to border-box */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
/* apply style to body */
body {
	background-color: #d9dcd6;
	font-family: "Open Sans", Helvetica;
}

/* Header style starts */
header {
	display: flex;
	padding: 20px 10%;
	background-color: #2a607c;
	color: #ffffff;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	display: inline-block;
	font-size: 48px;
}

header h1 .seo {
	color: #d9dcd6;
}

.nav-links li a {
	font-size: 20px;
	font-weight: 600;
	color: #ffffff;
	letter-spacing: 0.02em;
	text-decoration: none;
}

.nav-links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav-links a:hover {
	color: #d9dcd6;
}

/* Header style ends */

/* Apply styles to background image */
.hero {
	height: 800px;
	width: 100%;
	margin-bottom: 25px;
	background-image: url("../images/digital-marketing-meeting.jpg");
	background-size: cover;
	background-position: center;
}

/* Apply styles to main content */
main {
	width: 75%;
	height: 100%;
	display: inline-block;
	margin-left: 20px;
	word-wrap: break-word;
	overflow: auto;
}

.service {
	margin-bottom: 20px;
	padding: 50px;
	height: 300px;
	background-color: #0072bb;
	color: #ffffff;
}

.service h2 {
	font-size: 32px;
	font-weight: 600;
	display: inline;
}

.service img {
	max-height: 200px;
}

.service p {
	display: block;
	margin-block-start: 1em;
	margin-inline-end: 1em;
	font-size: 16px;
	line-height: 1.7;
}

.float-left {
	float: left;
	margin-right: 25px;
}

.float-right {
	float: right;
	margin-left: 25px;
}

/* Apply styles to aside-benefits */
.benefits {
	margin-right: 20px;
	padding: 20px;
	clear: both;
	float: right;
	width: 20%;
	height: 940px;
	background-color: #2589bd;
	overflow: auto;
}

.benefits div {
	margin-bottom: 32px;
	color: #ffffff;
	text-align: center;
}

.benefits h3 {
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: 600;
}

.benefits img {
	display: block;
	margin: 0 auto;
	max-width: 150px;
}

.benefits p {
	display: block;
	font-size: 16px;
	line-height: 1.4;
	padding: 0 5px;
}

/* Apply styles to footer */
footer {
	padding: 30px;
	clear: both;
	text-align: center;
}

footer h4 {
	font-size: 20px;
	display: inline;
}

footer p {
	float: center;
	line-height: 1.5;
}
